body {
    background: rgb(1,23,88);
    background: linear-gradient(90deg, rgba(1,23,88,1) 0%, rgba(14,24,191,1) 56%, rgba(0,195,255,1) 100%);
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;

}